<h2
  class="title"
  data-target="#myModal"
  (click)="myModal.show()"
  (click)="getInfo()"
>
  {{ game.name }}
</h2>
<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #myModal="bs-modal"
  id="myModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-container *ngIf="gameDetail$ | async as gameDetail">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()"
          >
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <h4 class="title title-up">{{ gameDetail.name }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ gameDetail.released | date : "mediumDate" }}</p>
          <div class="progress-container">
            <progressbar
              class="progress-bar-success"
              [value]="calculateRating(gameDetail.rating)"
            >
              <span class="progress-value"> </span>
            </progressbar>
          </div>

          <p [innerHTML]="gameDetail.description"></p>
          <carousel [showIndicators]="false">
            <slide>
              <img
                alt="First slide"
                class="d-block w-100"
                src="{{ gameDetail.background_image }}"
              />
            </slide>
            <slide *ngIf="gameDetail.background_image_additional">
              <img
                alt="Second slide"
                class="d-block w-100"
                src="{{ gameDetail.background_image_additional }}"
              />
            </slide>
          </carousel>
        </div>
      </ng-container>
      <div class="modal-footer">
        <div></div>
        <button
          class="btn btn-danger"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
