.modal-content .modal-body {
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 20px;
}

.modal.show .modal-dialog {
  max-width: 80%;
  max-height: 75%;
  transform: translate(0, 0);
  margin: 20px auto;
}

.modal-footer {
  margin-top: 20px;
}
