<div *ngIf="shopDetail$ | async as shopDetail">
  <div
    [ngClass]="{
      ShopDetail__header: true,
      'ShopDetail__header--expanded': expanded
    }"
  >
    <img
      src="{{ shopDetail.image_background }}"
      alt="{{ shopDetail.name }}"
      class="img-fluid ShopDetail__image--img"
    />
    <h2 class="title">{{ shopDetail.name }}</h2>
  </div>
  <div class="ShopDetail__body">
    <div [innerHTML]="shopDetail.description"></div>
    <div>
      <div class="ShopDetail__body--section">
        <span class="ShopDetail__link">
          <i class="tim-icons icon-controller"></i>
          {{ shopDetail.games_count }} Games
        </span>
      </div>
      <div class="ShopDetail__body--section">
        <i class="tim-icons icon-planet"></i>
        <a href="{{ 'https://' + shopDetail.domain }}" target="_blank"
          >Visit Shop</a
        >
      </div>
      <div class="ShopDetail__body--section" (click)="expanded = !expanded">
        <ng-container *ngIf="expanded; else hideGames">
          <i class="tim-icons icon-simple-add"></i>
          <span>See games</span>
        </ng-container>
      </div>
    </div>
    <div class="game-list" *ngIf="!expanded">
      <div class="game" *ngFor="let game of games$ | async">
        <app-game [game]="game"></app-game>
      </div>
    </div>
  </div>

  <ng-template #hideGames>
    <i class="tim-icons icon-simple-delete"></i>

    <span>Hide games</span>
  </ng-template>
</div>
