.ShopDetail {
  &__header {
    position: relative;
    height: 200px;
    overflow: hidden;
    width: 100%;
    transition: 1s;
    img {
      filter: blur(5px);
      width: 100%;
      transform: translateY(-50%);
      transition: 1s;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 7rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
        0 0 1em rgba(255, 255, 255, 0.3), 0 0 0.2em rgba(255, 255, 255, 0.3);
    }

    &--expanded {
      height: 700px;
      transition: 1s;
      img {
        filter: blur(5px);
        transform: translateY(0%);
        transition: 1s;
      }
    }
  }
  &__body {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    &--section {
      font-size: 17px;
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 900px) {
  .ShopDetail {
    &__body {
      grid-template-columns: 1fr;
    }
    &__header {
      height: 300px;
      img {
        filter: blur(2px);
        transition: 1s;
        transform: translateY(0%);
      }

      h2 {
        position: absolute;

        font-size: 3rem;
      }
      &--expanded {
        height: 300px;
      }
    }
  }
}
