<div class="ShopList" *ngIf="!(loading$ | async); else loading">
  <app-shop-card
    *ngFor="let shop of shops$ | async"
    [shop]="shop"
    (onSelectShop)="onSelectShop($event)"
  ></app-shop-card>
</div>

<ng-template #loading>
  <div class="ShopList">
    <div *ngFor="let item of [1, 1, 1, 1, 1]" class="loading-card">
      <div class="loading-card__header"></div>
    </div>
  </div>
</ng-template>
