.ShopList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
  padding: 150px 5%;
  .loading-card {
    height: 300px;
    width: 100%;
    background-color: #525f7f;
    border-radius: 10px;
    position: relative;
    &__header {
      background-color: #525f7f;

      position: absolute;
      top: -50px;
      left: calc(50% - 75px);
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 900px) {
  .ShopList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ShopList {
    grid-template-columns: repeat(1, 1fr);
  }
}
