.ShopCard {
  position: relative;
  min-height: 300px;
  &__header {
    padding-bottom: 125px;
  }
  &__image {
    &--img {
      position: absolute;
      top: -75px;
      left: calc(50% - 75px);
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: white;
      text-align: center;
    }
    &--section {
      color: white;
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
