<div class="card card-coin card-plain ShopCard" (click)="selectShop()">
  <div class="card-header ShopCard__header">
    <div class="img-center img-fluid ShopCard__image--wrapper">
      <img
        src="{{ shop.image_background }}"
        alt="Generic placeholder image"
        class="img-fluid ShopCard__image--img"
      />
    </div>
  </div>
  <div class="card-body ShopCard__body">
    <h4 class="title">{{ shop.name }}</h4>
    <div class="ShopCard__body--section">
      <span class="ShopCard__link">
        <i class="tim-icons icon-controller"></i>
        {{ shop.games_count }} Games
      </span>
    </div>
    <div class="ShopCard__body--section">
      <i class="tim-icons icon-planet"></i>
      <a href="{{ 'https://' + shop.domain }}" target="_blank">Visit Shop</a>
    </div>
  </div>
</div>
